
#chat {
  background:#607D8B;
}

#perfil {
  border-radius: 50%;
  border:20px;
  border-style: solid;
  border-color: red;
}

#perfil img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

#user-card {
    border-radius: 10px;
    background: #FCE4EC;
    padding: 20px;
    border: 20px;
    margin: 20px;
}

#nombre{
  text-align: center;
}

#message{
    margin: 10ppx;
    padding: 20%;
    float: left;
}