doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title search tearche
    link(rel='stylesheet', href='styles/main.css')
    script(src='bower_components/webcomponentsjs/webcomponents.js')
    link(rel='import', href='elements/elements.html')
  body
    h1 Carta de presentación
    
    presentation-card(teacherid='1234')
    presentation-card(teacherid='1235')
    h1 Mensajes
    p "Un chat"
    h1 Subir fotos
    p "Poder subir fotos con preguntas ya escritas"
    h1 Calendario?
    p Se usa un calendario para planificar las clases y trabajos 
